<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25548406597-kfp8mkpgq0ttsmmej6gnq484j245mnr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25548406597-kfp8mkpgq0ttsmmej6gnq484j245mnr7</string>
	<key>API_KEY</key>
	<string>AIzaSyCbIVf4YvpHKwlizS0iCrs9DLkcQaRD5po</string>
	<key>GCM_SENDER_ID</key>
	<string>25548406597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.green.hongkimDaonProject</string>
	<key>PROJECT_ID</key>
	<string>hongkimdaonproject</string>
	<key>STORAGE_BUCKET</key>
	<string>hongkimdaonproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25548406597:ios:f3aecfcdfefb38cf68882c</string>
</dict>
</plist>